<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Valentine Card</title>
  <link rel="stylesheet" href="/valentine.css">
</head>
<body>
  <div class="container">   
    <div class="love-letter">
      <p>My Dearest Ashmi Miss,</p>
      <p>
        I remember the first time we started talking. You were the one who made me look into my phone and smile for hours whenever we talked.
        Falling in love with you was not planned, but it turned out to be the most perfect thing. You have no idea how you've changed my life emotionally.
        I never thought it was possible to have this much love for someone. I wanna write a thousand pages to you, but even then, it wouldn't be enough.
        Words fail me the way stars fail to outshine the moon. Every letter I'd write would feel like a shadow of what I mean. I would fill each page with metaphors,
        comparing your eyes to galaxies and your smile to dawn, but it still wouldn't capture the way you light up my world. You are the poem I would never 
        finish, the song I will sing for lifetimes. TBH, even in the most selfish way possible, I want to be the only one who has your heart. I want
        to be the one who understands it completely, the one who holds it close. I want to be one of the reasons you smile, to catch the light in your eyes, from the 
        smallest things that make you happy. I want to be the one who brings you happiness, who makes you laugh until you cry. I want us to be in the same book and to
        end in the same chapter. I want to be your last everything in the most selfish way possible. I want all of you forever.
        You are, without a doubt, the most wonderful thing in my life. I never dreamed I could feel about someone the way I do about you.
        I know you are doubting, and maybe I am not the best person you are going to meet in the world, but I am someone who sincerely loves you and wants to
        stay very close to you. So, let me ask you not to doubt my love. I may not be enough, but in good times and bad, I will be there for you, no matter 
        what I have to do.
      </p>
      <p>Forever yours,</p>
      <p>Shirish Bhusal</p>
    </div>

    <!-- Next Button -->
    <form action="/final" method="GET">
      <button type="submit" id="next-button">Next</button>
    </form>
  </div>
</body>
</html>